@{
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";

}

@if (Session["KUL_TIP"].ToString() == "1")
{

<div class="row">

    <div class="col-4">
        <!-- Card Primary -->
        <div class="card classic-admin-card amy-crisp-gradient">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                       
                        <h4>
                            <a href="/Depo/Index" style="color:white;">DEPO</a>
                        </h4>
                    </div>

                    <div class="col-2">
                        <h1>
                            <i class="fas fa-warehouse"></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <!-- Card Primary -->

    </div>
    <!-- Grid column -->
    <!-- Grid column -->

    <div class="col-4">
        <!-- Card Primary -->
        <div class="card classic-admin-card purple-gradient">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        
                        <h4>
                            <a href="/AltDepo/Index" style="color:white;">ALT DEPO</a>
                        </h4>
                    </div>

                    <div class="col-2">
                        <h1>
                            <i class="fas fa-warehouse"></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <!-- Card Primary -->

    </div>
    <!-- Grid column -->
    <!-- Grid column -->

    <div class="col-4">
        <!-- Card Primary -->
        <div class="card classic-admin-card aqua-gradient">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        
                        <h4>
                            <a href="/DepoEslestirme/Index" style="color:white;">DEPO/ALT DEPO</a>
                        </h4>
                    </div>

                    <div class="col-2">
                        <h1>
                            <i class="fa-solid fa-cubes"></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <!-- Card Primary -->

    </div>
</div>



<br />



<div class="row">

    <div class="col-4">
        <!-- Card Primary -->
        <div class="card classic-admin-card peach-gradient">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        @*@@<hDefault1 class="white-text">
                            DEPO</h1>@@*@
                            <h4>
                                <a href="/Stok/Index" style="color:white;">STOK</a>
                            </h4>
                    </div>

                    <div class="col-2">
                        <h1>
                            <i class="fa-solid fa-cubes-stacked"></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <!-- Card Primary -->

    </div>


    <div class="col-4">
        <!-- Card Primary -->
        <div class="card classic-admin-card young-passion-gradient">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        @*@@<h1 class="white-text">DEPO</h1>@@*@
                        <h4>
                            <a href="/Kullanıcı/Index" style="color:white;">KULLANICI</a>
                        </h4>
                    </div>

                    <div class="col-2">
                        <h1>
                            <i class="fa-solid fa-user-astronaut"></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <!-- Card Primary -->

    </div>

    <div class="col-4">
        <!-- Card Primary -->
        <div class="card classic-admin-card morpheus-den-gradient">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        @*@@<h1 class="white-text">DEPO</h1>@@*@
                        <h4>
                            <a href="/Sorumlu/Index" style="color:white;">SORUMLU</a>
                        </h4>
                    </div>

                    <div class="col-2">
                        <h1>
                            <i class="fa-solid fa-user-tie"></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        <!-- Card Primary -->

    </div>
</div>

}